body{background-color:#4498b2;}

/*images*/
#title{position:absolute;left:0px;top:50px;z-index:1;}
#bortop{position:fixed;left:0px;top:-4px;z-index:2;}
#borbot{position:fixed;left:0px;bottom:-4px;z-index:2;}

#whiterec{position:absolute;left:50px;top:260px;right:50px;bottom:1px;background:white;z-index:-1;}


#tab_profile{position:relative;}
#tab_map{position:relative;left:10px;}
#tab_explore{position:relative;left:20px;}
#helping{position:relative;left:50px;}
#helping_body{position:relative;left:50px;}


/*specifics*/
#dynmap{position:absolute;top:350px;left:100px;z-index:0}

